.header{
  grid-area: h;
  background-color: gray;  
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.loginBlock{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: flex-end;  
}

.loginBlock a{
  color: white;
}
.userName{
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  color: white;
}
.logout{  
  margin-left: 5px;
  width: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  font-weight: 600;
}

.loginLink{
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  color: white;
}